.icon-login:before {
    content: '\e800';
}

/* '' */

.icon-close:before {
    content: '\e801';
}

/* '' */

.icon-layers:before {
    content: '\e802';
}

/* '' */

.icon-responsive:before {
    content: '\e803';
}

/* '' */

.icon-settings:before {
    content: '\e804';
}

/* '' */

.icon-phone-call:before {
    content: '\e805';
}

/* '' */

.icon-right-arrow-1:before {
    content: '\e806';
}

/* '' */

.icon-share:before {
    content: '\e807';
}

/* '' */

.icon-email:before {
    content: '\e808';
}

/* '' */

.icon-location:before {
    content: '\e809';
}

/* '' */

.icon-video:before {
    content: '\e80a';
}

/* '' */

.icon-placeholder:before {
    content: '\e80b';
}

/* '' */

.icon-time:before {
    content: '\e80c';
}

/* '' */

.icon-quote_soft:before {
    content: '\e80d';
}

/* '' */

.icon-search:before {
    content: '\e80e';
}

/* '' */

.icon-filter:before {
    content: '\e80f';
}

/* '' */

.icon-call-1:before {
    content: '\e810';
}

/* '' */

.icon-chat-1:before {
    content: '\e811';
}

/* '' */

.icon-favorites:before {
    content: '\e812';
}

/* '' */

.icon-exchange:before {
    content: '\e813';
}

/* '' */

.icon-font:before {
    content: '\e814';
}

/* '' */

.icon-gear:before {
    content: '\e815';
}

/* '' */

.icon-homepages:before {
    content: '\e816';
}

/* '' */

.icon-parallax:before {
    content: '\e817';
}

/* '' */

.icon-seo-1:before {
    content: '\e818';
}

/* '' */

.icon-text:before {
    content: '\e819';
}

/* '' */

.icon-coding-1:before {
    content: '\e81a';
}

/* '' */

.icon-document:before {
    content: '\e81b';
}

/* '' */

.icon-right-arrow-2:before {
    content: '\e81c';
}

/* '' */

.icon-search-2:before {
    content: '\e81d';
}

/* '' */

.icon-account:before {
    content: '\e81e';
}

/* '' */

.icon-play:before {
    content: '\e81f';
}

/* '' */

.icon-outgoing-call:before {
    content: '\e820';
}

/* '' */

.icon-chat:before {
    content: '\e821';
}

/* '' */

.icon-checkmark:before {
    content: '\e822';
}

/* '' */

.icon-arrow-long:before {
    content: '\e823';
}

/* '' */

.icon-right-arrow:before {
    content: '\e824';
}

/* '' */

.icon-search-3:before {
    content: '\e825';
}

/* '' */

.icon-tick:before {
    content: '\e826';
}

/* '' */

.icon-shopping-bag:before {
    content: '\e827';
}

/* '' */

.icon-menu_arrow:before {
    content: '\e828';
}

/* '' */

.icon-search-1:before {
    content: '\e829';
}

/* '' */

.icon-bg:before {
    content: '\e82a';
}

/* '' */

.icon-login-1:before {
    content: '\e82b';
}

/* '' */

.icon-shopping-bag-3:before {
    content: '\e82c';
}

/* '' */

.icon-next-2:before {
    content: '\e82d';
}

/* '' */

.icon-serv_04:before {
    content: '\e82e';
}

/* '' */

.icon-avatar:before {
    content: '\e83d';
}

/* '' */

.icon-call:before {
    content: '\e83e';
}

/* '' */

.icon-download:before {
    content: '\e83f';
}

/* '' */

.icon-shopping-bag-2:before {
    content: '\e840';
}

/* '' */

.icon-whatsapp:before {
    content: '\e841';
}

/* '' */

.icon-magnifying-glass:before {
    content: '\e842';
}

/* '' */

.icon-send:before {
    content: '\e843';
}

/* '' */

.icon-shopping-bag-1:before {
    content: '\e844';
}

/* '' */

.icon-serv_02:before {
    content: '\e845';
}

/* '' */

.icon-serv_03:before {
    content: '\e846';
}

/* '' */

.icon-clock:before {
    content: '\e847';
}

/* '' */

.icon-serv_01:before {
    content: '\e848';
}

/* '' */

.icon-phone:before {
    content: '\e849';
}

/* '' */

.icon-play-button-arrowhead:before {
    content: '\e84b';
}

/* '' */

.icon-email-1:before {
    content: '\e84d';
}

/* '' */

.icon-quote_soft_vert:before {
    content: '\e84e';
}

/* '' */

.icon-quote_hard_01:before {
    content: '\e84f';
}

/* '' */

.icon-quote_hard_02:before {
    content: '\e850';
}

/* '' */

.icon-quote_semi:before {
    content: '\e851';
}

/* '' */