.elementor-31249 .elementor-element.elementor-element-26c0dc9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-31249 .elementor-element.elementor-element-26c0dc9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31249 .elementor-element.elementor-element-28437ea.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-31249 .elementor-element.elementor-element-750bb8a .elementor-spacer-inner {
    height: 200px;
}

.elementor-31249 .elementor-element.elementor-element-0f744bf {
    text-align: center;
}

.elementor-31249 .elementor-element.elementor-element-0f744bf>.elementor-widget-container {
    margin: 0px 0px 16px 0px;
}

.elementor-31249 .elementor-element.elementor-element-405c6f7 {
    text-align: center;
}

.elementor-31249 .elementor-element.elementor-element-3fb238a>.elementor-widget-container {
    margin: 90px 0px 0px 0px;
}

.elementor-31249 .elementor-element.elementor-element-3fb238a {
    width: auto;
    max-width: auto;
}

.elementor-31249 .elementor-element.elementor-element-b06c6d1 .elementor-spacer-inner {
    height: 280px;
}

@media(max-width:1599px) {
    .elementor-31249 .elementor-element.elementor-element-750bb8a .elementor-spacer-inner {
        height: 200px;
    }
    .elementor-31249 .elementor-element.elementor-element-b06c6d1 .elementor-spacer-inner {
        height: 220px;
    }
}

@media(max-width:1199px) {
    .elementor-31249 .elementor-element.elementor-element-28437ea.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-31249 .elementor-element.elementor-element-750bb8a .elementor-spacer-inner {
        height: 180px;
    }
    .elementor-31249 .elementor-element.elementor-element-0f744bf {
        text-align: center;
    }
    .elementor-31249 .elementor-element.elementor-element-0f744bf>.elementor-widget-container {
        background-size: 0px auto;
    }
    .elementor-31249 .elementor-element.elementor-element-3fb238a {
        text-align: center;
    }
    .elementor-31249 .elementor-element.elementor-element-b06c6d1 .elementor-spacer-inner {
        height: 130px;
    }
}

@media(max-width:991px) {
    .elementor-31249 .elementor-element.elementor-element-b06c6d1 .elementor-spacer-inner {
        height: 160px;
    }
}

@media(max-width:767px) {
    .elementor-31249 .elementor-element.elementor-element-3fb238a {
        width: 100%;
        max-width: 100%;
    }
    .elementor-31249 .elementor-element.elementor-element-b06c6d1 .elementor-spacer-inner {
        height: 140px;
    }
}

@media(max-width:1199px) and (min-width:768px) {
    .elementor-31249 .elementor-element.elementor-element-28437ea {
        width: 100%;
    }
}